.categoryGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 60vw;
}

.category {
  list-style: none;
  width: max-content;
  display: grid;
  grid-template-rows: auto auto;
}

.thumbnail {
  object-fit: contain;
}