.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  padding: 1rem 2rem;
  border-bottom: 1px solid black;
}

.logo {
  margin-right: 1rem;
}

.link {
  margin: 0 .25rem;
}

.menu {
  margin-left: auto;
  position: relative;
}

.menuGroup {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 0;
  width: max-content;
  background: white;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);

  flex-direction: column;
}

.display {
  pointer-events: all;
  top: 100%;
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  background: lightblue;
  position: fixed;
  bottom: 0;
}